.todo-app h1 {
  text-align: center;
  background-color: rgb(255, 227, 100);
  padding: 2rem;
}

.todo-app {
  text-align: center;
}

.item {
  text-align: center;
  padding: 1rem;
  background-color: rgb(200, 200, 200);
}

.item:nth-child(even) {
  background-color: white;
}

.checked {
  text-decoration: line-through;
}

.removeButton {
  border: none;
  margin-left: 75%;
  color: black;
  background-color: transparent;
}

.removeButton:hover {
  background-color: rgb(140, 140, 140);
  border-radius: 5px;
}

.todoItem {
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}